body{
	background-color: pink;
	font-family: 'Lobster', cursive;

}
img{
	width: 100%;
	max-width: 50%;
}
h3{
padding-top: 25px;
}
h2{
	display: inline-block;
}
p#date{
	    display: inline-block;
    float: right;
}
h1, h2, h3, h6{
	text-align: center;
}
img{
	width: 100%!important;
}
p{
	font-family: 'Dancing Script', cursive!important;
	font-size: 1.1em!important;
	text-align: justify;
}
.main-body{
margin-top: 50px;
margin-bottom: 50px;	
}
.img-parent{
	width: 100%;
	max-width: 100%;
	text-align: center!important;
}
.img-parent img{
	max-width: 100%!important;
}
.media{
	justify-content: center;
}

